header {
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    color: white;

    img {
        height: 4rem;
    }

    h2 {
        font-family: "Cormorant Garamond", serif;
    }
    ul {
        display: none;
    }
    .contact-wrapper {
        display: none;
    }
    a {
        color: white;
        text-decoration: none;
    }
}
